@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat', sans-serif;
$title-background-color: #5B6157;
$status-background-color: #5B6157;
$review-header-bg-color: #2f2f2f;
$review-container-bg-color: #A36A59;
$correct-header-bg-color: #2f2f2f;
$correct-container-bg-color: #2E572C;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #2f2f2f;
  font-family: $font;
  color: whitesmoke;
}

div.gameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  button {
    height: 36px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    box-shadow: none;

    &.waves-effect {
      overflow: visible !important;
    }

  }

  h5 {
    text-align: center
  }

  div#country-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    div#country-card{
      width: 18rem;
      height: 245px;
      background-color: transparent;
      box-shadow: none;
      margin: 10px;
    }
  }

  div#statusContainer {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $status-background-color;

    span {
      margin: 0px 2%;
    }
  }

  div#resultsContainer {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  div#incorrectCountryContainer {
    width: 90%;
    margin: 30px 0px;
    background-color: $review-container-bg-color;

    h5 {
      padding: 5px;
      background-color: $review-header-bg-color;
      border: 5px solid $review-container-bg-color;
    }
  }

  div#correctCountryContainer {
    width: 90%;
    margin: 30px 0px;
    background-color: $correct-container-bg-color;

    h5 {
      padding: 5px;
      background-color: $correct-header-bg-color;
      border: 5px solid $correct-container-bg-color;
    }
  }

}

header.gameTitleContainer {
  width: 100%;
  background-color: $title-background-color;

  h4 {
    margin: 1.5rem;
    text-align: center;
  }
}

div.gameNavigation {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 750px;
  padding: 10px;

  // global buttons
  button {
    overflow: none;
    margin: 10px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    box-shadow: none;

    &.waves-effect {
      overflow: visible !important;
    }
  }

  //messages
  div.message {
    font-size: 16px;
  }

  // flag
  div.imgContainer {
    display: flex;
    justify-content: center;

    img {
      display: inline;
    }
  }

  // buttons container
  div.gameButtonsContainer {
    display: flex;
    justify-content: center;
  }

  // answer container
  div.gameAnswerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;

    span strong {
      font-weight: 800;
      text-decoration: underline;
    }

    span.correct {
      color: yellowgreen;
    }

    div#mapid {
      position: relative;
      width: 100vw;
      background-color: pink;

      div.leaflet-container {
        position: static !important;
      }
    }
  }

  //  choices cointainer
  div.choicesOuterContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  // radio buttons
  label {
    font-size: 16px;

    [type="radio"]:not(:checked), [type="radio"]:checked {
      opacity: 1;
      position: static;
    }
  }

}



